<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Wellness App | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      aria-label="Navigation"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Wellness App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav ms-auto">
            <a href="/home" class="nav-item nav-link" id="home"> Home </a>
            <a href="/profile" class="nav-item nav-link" id="profile">
              Profile
            </a>
            <a href="/logout" class="nav-item nav-link" id="logout"> Logout </a>
            <a href="/login" class="nav-item nav-link" id="login"> Login </a>
            <a href="/sign-up" class="nav-item nav-link" id="signUp"> Sign Up </a>  
          </div>
        </div>
      </div>
    </nav>
    <nav
      class="nav nav-tabs nav-justified navbar-light bg-light"
      aria-label="Navigation Options"
    >
      <a class="nav-link" href="/bmi">BMI Calculator</a>
      <a class="nav-link" href="/calorie">Calorie Counter</a>
      <a class="nav-link" href="/sleep">Sleeping Hours</a>
      <a class="nav-link" href="/water">Water Intake</a>
      <a class="nav-link" href="/activity">Enriching Activity</a>
      <a class="nav-link" href="/learning">Learning</a>
    </nav>
    {% block content %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
