{% extends "base.html" %} {% block title %} Calorie Counter {% endblock %} {%
block content %}

<div class="box calorie-page">
  <div class="container">
    <div class="display-6">Calorie Counter</div>
    <br />
    <ul>
      <li>
        <p>A calorie is a measurement, just like a teaspoon or an inch.</p>
      </li>
      <li>
        <p>
          Calories are the amount of energy released when your body breaks down
          (digests and absorbs) food.
        </p>
      </li>
      <li>
        <p>
          The more calories a food has, the more energy it can provide to your
          body.
        </p>
      </li>
    </ul>

    <p class="text-center">
      You burned {{total}} calories today. Here is the distribution.
    </p>
    <div class="calorie-table">
      <table
        class="table table-sm table-striped table-bordered"
        aria-label="DailyCalorieTable"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Exercise / Activity</th>
            <th scope="col">Duration (in min)</th>
            <th scope="col">Calories Burned</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{d.exercise}}</td>
            <td>{{d.duration}}</td>
            <td>{{d.calorie}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="calorie-form">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group mb-3 row">
          <div class="col-sm-2">
            <label for="met-category" class="col-form-label">
              Activity Category
            </label>
          </div>
          <div class="col-sm-5">
            <select
              name="met-class"
              id="met-class"
              class="form-select"
              onchange="populate(this.id, 'met-option')"
              required
            >
              <option>Select type of work</option>
              <option value="light">Light</option>
              <option value="moderate">Moderate</option>
              <option value="vigorous">Vigorous</option>
            </select>
          </div>
          <div class="col-sm-5">
            <select
              name="met-option"
              id="met-option"
              class="form-select"
              required
            ></select>
          </div>
        </div>
        <div class="form-group mb-3 row">
          <div class="col-sm-2">
            <label for="duration" class="col-form-label"> Duration </label>
          </div>
          <div class="col-sm-10">
            <input
              type="number"
              name="duration"
              id="duration"
              class="form-control"
              placeholder="Enter Duration of the exercise (in mins)"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary" value="add">Add</button>
      </form>
    </div>

    {% endblock %}
  </div>
</div>
