<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Wellness App</title>
  </head>
  <body>
    <div class="box start-page">
      <div class="container">
        <h1 class="text-center">Welcome to the BeFit website!</h1>
        <ul>
          <li>
            <h2>About us:</h2>
            <p>
              We are a company who keep you and also your health in track and
              help you to gain or lose wait according to your need and help you
              keep fit!
            </p>
          </li>
          <li>
            <h3>What do we take?</h3>
            <p>
              We take all of your body readings as input for example height,
              weight, calories burnt, sleep time and many more in order to
              perfectly predict, what we call the "Wellness Index".
            </p>
          </li>
          <li>
            <h3>Want to know how fit you are now?</h3>
            <p>Well sign up now and get going!</p>
          </li>
        </ul>
        <div class="container-fluid text-center">
          <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button
              type="submit"
              class="btn btn-primary"
              name="login"
              value="login"
            >
              Login
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              name="signup"
              value="signup"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
