<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Wellness App</title>
  </head>
  <body>
     <h1>Welcome to the BeFit website!</h1>
    <h2>About us:</h2>
    <p>We are a company who keep you and also your health in track and help you to gain or lose wait according to your need and help you keep fit!</p>
    <h3>What do we take?</h3>
    <p1>We take all of your body readings as input for example height, weight, calories burnt, sleep time and many more in order to perfectly predict, what we call the "Wellness Index" and help you to workout accordingly by giving tips to keep yourself fit</p1>
    <h3>Know how fit you are now!</h3>
    <p2>Well sign up now and get going!</p2>
    <button type="button" name="myButton">Click me!</button>
    <div class="container-fluid text-center">
      <h1 class="display-1">Wellness App</h1>
      <form action="" method="post">
        <button
          type="submit"
          class="btn btn-primary"
          name="login"
          value="login"
        >
          Login
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          name="signup"
          value="signup"
        >
          Sign Up
        </button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
