{% extends "base.html" %} {% block title %} Calorie Counter {% endblock %} {%
block content %}

<div class="box nutrition-page">
  <div class="container">
    <div class="display-6">Nutrition</div>
    <br />
    <ul>
      <li>
        <p>
          The process of providing or obtaining the food necessary for health
          and growth.
        </p>
      </li>
      <li>
        <p>
          The branch of science that deals with nutrients and nutrition,
          particularly in humans.
        </p>
      </li>
    </ul>

    <div class="form-group">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group mb-3 row">
          <div class="col-sm-2">
            <label for="food" class="col-form-label"> Search food </label>
          </div>
          <div class="col-sm-8">
            <input
              type="search"
              name="food"
              id="food"
              class="form-control"
              placeholder="search"
              required
            />
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    <p class="text-center">
      You consumed {{total}} kcal today. Here is the distribution.
    </p>
    <div class="food-table">
      <table
        class="table table-sm table-striped table-bordered"
        aria-label="DailyFoodTable"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Food</th>
            <th scope="col">Calories</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{d.fooditem}}</td>
            <td>{{d.calories}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
