{% extends "base.html" %} {% block title %} Calorie Counter {% endblock %} {%
block content %}

<div class="box nutrition-page">
  <div class="container">
    <div class="display-6">Nutrition</div>
    <br />
    <h1>Nutrition</h1>
    <p>The process of providing or obtaining the food necessary for health and growth.</p>
    <p>The branch of science that deals with nutrients and nutrition, particularly in humans.</p>
    <h2>What have you eaten?</h2>
    <input type="search" name="myInput" placeholder="Search" size="30" required>
    <button type="button" name="myButton">Calculate!</button>
    <form action="/action_page.php">
      <label for="cars">Choose the food:</label>
      <select name="cars" id="cars">
        <option value="Nuts">Nuts</option>
        <option value="Sandwich">Sandwich</option>
        <option value="Milk">Milk</option>
        <option value="cereal">cereal</option>
        <option value="Idly">Idly</option>
        <option value="Dosa">Dosa</option>
        <option value="Eggs">Eggs</option>
        <option value="Chicken">Chicken</option>
        <option value="Beef">Beef</option>
        <option value="Burger">Burger</option>
        <option value="Pizza">Pizza</option>
        <option value="Taco">Taco</option>
        <option value="Smoothie">Smoothie</option>
        <option value="Coke">Coke</option>
        <option value="Coffee">Coffee</option>
        <option value="Tea">Tea</option>

      </select>
      <br><br>
  </div>
</div>

{% endblock %}
