{% extends "base.html" %} {% block title %} Calorie Counter {% endblock %} {%
block content %}

<div class="box nutrition-page">
  <div class="container">
    <div class="display-6">Nutrition</div>
    <br />
    <h1>Nutrition</h1>
    <p>The process of providing or obtaining the food necessary for health and growth.</p>
    <p>The branch of science that deals with nutrients and nutrition, particularly in humans.</p>
    <h2>What have you eaten?</h2>
    <input type="search" name="myInput" placeholder="Search" size="30" required>
    <button type="button" name="myButton">Calculate!</button>
    <form action="/action_page.php">
      <label for="cars">Choose the food:</label>
      <select name="cars" id="cars">
        <option value="volvo">Nuts</option>
        <option value="saab">Sandwich</option>
        <option value="opel">Milk</option>
        <option value="audi">cereal</option>
        <option value="audi">Idly</option>
        <option value="audi">Dosa</option>
        <option value="audi">Eggs</option>
        <option value="audi">Chicken</option>
        <option value="audi">Beef</option>
        <option value="audi">Burger</option>
        <option value="audi">Pizza</option>
        <option value="audi">Taco</option>
        <option value="audi">Smoothie</option>
        <option value="audi">Coke</option>
        <option value="audi">Coffee</option>
        <option value="audi">Tea</option>

      </select>
      <br><br>
  </div>
</div>

{% endblock %}
