{% extends "base.html" %} {% block title %} My Profile {% endblock %} {% block
content %}
<div class="container">
  <h3 class="display-3 text-center">Profile</h3>
  <form method="post" id="profile">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="username" class="col-form-label"> Username </label>
      </div>
      <div class="col-sm-10">{{user.username}}</div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="email" class="col-form-label"> Email Address </label>
      </div>
      <div class="col-sm-10">{{user.email}}</div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="name" class="col-form-label"> Full Name </label>
      </div>
      <div class="col-sm-10">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Enter Full Name"
          required
          value="{{user.fullname}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="age" class="col-form-label"> Age </label>
      </div>
      <div class="col-sm-10">
        <input
          type="number"
          name="age"
          id="age"
          class="form-control"
          placeholder="Enter Age"
          required
          value="{{user.age}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="gender" class="col-form-label">Gender</label>
      </div>
      {% if user.gender == "male" %}
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input
            type="radio"
            name="genderOptions"
            id="male"
            class="form-check-input"
            value="male"
            required
            checked
            disabled
          />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            name="genderOptions"
            id="female"
            class="form-check-input"
            value="female"
            required
            disabled
          />
          <label for="female" class="form-check-label">Female</label>
        </div>
      </div>
      {% else %}
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input
            type="radio"
            name="genderOptions"
            id="male"
            class="form-check-input"
            value="male"
            required
            disabled
          />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            name="genderOptions"
            id="female"
            class="form-check-input"
            value="female"
            required
            checked
            disabled
          />
          <label for="female" class="form-check-label">Female</label>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="height" class="col-form-label"> Height (in cms) </label>
      </div>
      <div class="col-sm-10">
        <input
          type="number"
          name="height"
          id="height"
          class="form-control"
          placeholder="Enter Height (in cms)"
          required
          value="{{user.height}}"
          disabled
        />
      </div>
    </div>
    <div class="form-group mb-3 row">
      <div class="col-sm-2">
        <label for="weight" class="col-form-label"> Weight (in kgs) </label>
      </div>
      <div class="col-sm-10">
        <input
          type="number"
          name="weight"
          id="weight"
          class="form-control"
          placeholder="Enter Weight (in kgs)"
          required
          value="{{user.weight}}"
          disabled
        />
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="col-sm-2">
        <label for="lifestyle" class="col-label-text">Activity Level</label>
      </div>
      <div class="col-sm-10">
        <select
          name="lifestyle"
          id="lifestyle"
          class="form-select"
          required
          disabled
        >
          <option></option>
          {% if user.lifestyle == "sedantary" %}
          <option value="sedantary" selected>Sedantary Lifestyle</option>
          {% else %}
          <option value="sedantary">Sedantary Lifestyle</option>
          {% endif %} {% if user.lifestyle == "slightly-active" %}
          <option value="slightly-active" selected>Slightly Active</option>
          {% else %}
          <option value="slightly-active">Slightly Active</option>
          {% endif %} {% if user.lifestyle == "moderately-active" %}
          <option value="moderately-active" selected>Moderately Active</option>
          {% else %}
          <option value="moderately-active">Moderately Active</option>
          {% endif %} {% if user.lifestyle == "active" %}
          <option value="active" selected>Active Lifestyle</option>
          {% else %}
          <option value="active">Active Lifestyle</option>
          {% endif %} {% if user.lifestyle == "very-active" %}
          <option value="very-active" selected>Very Active Lifestyle</option>
          {% else %}
          <option value="very-active">Very Active Lifestyle</option>
          {% endif %}
        </select>
      </div>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-success"
      id="save"
      name="save"
      value="save"
      hidden
    >
      Save
    </button>
    <button
      type="submit"
      class="btn btn-danger"
      id="cancel"
      name="cancel"
      value="cancel"
      hidden
    >
      Cancel
    </button>
  </form>
  <button
    type="submit"
    class="btn btn-primary"
    id="edit"
    name="edit"
    value="edit"
    onclick="javascript:enableform()"
  >
    Edit
  </button>
</div>
{% endblock %}
