{% extends "base.html" %} {% block title %} Sleeping Hours {% endblock %} {%
block content %}
<div class="box sleep-page">
  <div class="container">
    <div class="display-6">Sleeping Hours</div>
    <br />
    <ul>
      <li>
        <p>
          A condition of body and mind that typically recurs for several hours
          every night.
        </p>
      </li>
      <li>
        <p>
          Where in the nervous system is relatively inactive, the eyes closed,
          the postural muscles relaxed, and consciousness practically suspended.
        </p>
      </li>
      <li>
        <p>
          Too much of sleep is also bad for health and is known to be a symptom
          of depression
        </p>
      </li>
      <li>
        <p>
          Sleeping very less is also bad for health known an insomnia eventually
          leading to fatigue
        </p>
      </li>
    </ul>
    <br />
    <div class="text-center">
      {% if hours %} You slept {{hours}} hours {{mins}} minutes today {% endif
      %}
    </div>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group mb-3 row">
        <div class="col-sm-2">
          <label for="sleep-time" class="col-form-label"> Sleeping Time </label>
        </div>
        <div class="col-sm-10">
          <input
            type="time"
            name="sleep-time"
            id="sleep-time"
            class="form-control"
            placeholder="Enter your sleeping time"
            required
          />
        </div>
      </div>
      <div class="form-group mb-3 row">
        <div class="col-sm-2">
          <label for="wakeup-time" class="col-form-label"> Wake up Time </label>
        </div>
        <div class="col-sm-10">
          <input
            type="time"
            name="wakeup-time"
            id="wakeup-time"
            class="form-control"
            placeholder="Enter your wake up time"
            required
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary" value="submit">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %}
