<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("sleeps.jpg");
        background-repeat: no-repeat;
        background-size: 1600px;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 90px;
    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
    }
    div{
        font-size: 40px;
        
    }
    p1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>
<body>
    <h1>Sleep :-</h1>
    <p>>A condition of body and mind that typically recurs for several hours every night.</p>
    <p>>Where in the nervous system is relatively inactive, the eyes closed, the postural muscles relaxed, and consciousness practically suspended.</p>
    <p>>Too much of sleep is also bad for health and is known to be a symptom of depression</p>
    <p>Sleeping very less is also bad for health known an insomnia eventually leading to fatigue</p>
    <div>
    <p1>**Input the number of hours slept**</p1>
    <input type="text" name="myInput" height="60" width="" required>
    <input type="date" name="myInput" value="2021-11-28">
    <button type="button" name="myButton">hours slept</button>
    
    </div>
</body>
</html>
