<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("water1.jpg");
        background-repeat: no-repeat;
        background-size: 1600px;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 90px;
    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
    }
    div{
        font-size: 40px;
        
    }
    p1{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>
<body>
    <h1>Water :-</h1>
    <p>>water, a substance composed of the chemical elements hydrogen and oxygen.</p>
    <p>>Water travels throughout your body carrying nutrients, oxygen, and wastes to and from your cells and organs. </p>
    <p>>Water keeps your body cool as part of your body's temperature regulating system.</p>
    <p>Water cushions your joints, and protects your tissues and organs from shock and damage.</p>
    <div>
    <p1>**Input the number of glasses drank**</p1>
    <input type="text" name="myInput" height="60" width="" required>
    <input type="date" name="myInput" value="2021-11-28">
    <button type="button" name="myButton">Glasses consumed</button>
    
    </div>
</body>
</html>
